body {
  background-color: #f4f6f8; /* Un gris azulado muy suave */
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}


.ant-modal-content {
  border-radius: 16px !important;
  overflow: hidden;
}
